.name_heighlight {
  color: gold;
}
h1 {
  font-size: 300%;
}
.half-width {
  width: 40%;
  padding-left: 2%;
  float: left;
  margin: 2%;
}
.half-width img {
  width: 100%;
}
.top-banner {
  background-image: url(images/road-background.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  height: 500px;
}
p {
  font-size: 110%;
  color: black;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, purple, tomato);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.middle-banner {
  background-image: url(images/2nd-background.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
