body {
  margin: 0px;
}

.heading-color {
  color: goldenrod;
  font-family: 'Rubik Wet Paint', system-ui;
  font-size: 80px;
}

.semi-heading {
  color: goldenrod;
  font-family: 'Rubik Wet Paint', system-ui;
  font-size: 35px;
}

.tom-half-side {
  width: 60%;
  margin-left: 5%;
  float: left;
}
.tom-half-side-img {
  width: 100%;
  padding-top: 2%;
}
.first-part {
  background-image: url('images/road-background.gif');
  background-size: 3000px 600px;
  background-repeat: no-repeat;
}
p {
  font-size: 30px;
}
.first_button {
  background-image: linear-gradient(tomato, purple);
  color: whitesmoke;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5%;
  float: left;
  font-weight: bold;
}
